/* VARIABLES */

// Color Variables

$blue-dark    : #3d5c7a;
$blue-light   : #2190E3;

$red-dark     : #611611;
$red-light    : #bb2411;

$green-dark     : #007858;
$green-light    : #00c483;

$pink-dark     : #933698;
$pink-light    : #cf53d1;

// Breakpoints
$breakpoints:(
    'mobile':                   '(max-width: 600px)',
    'tablet':                   '(min-width: 601px) and (max-width: 992px)',
    'tablet-up':                '(min-width: 601px)',
    'mobile-tablet':            '(max-width: 992px)',
    'desktop-up':               '(min-width: 993px)',
);

@mixin screen($name) {
    @if map-has-key($breakpoints, $name) {
        @media only screen and #{map-get($breakpoints, $name)} {
            @content;
        }
    }
}

/* BASIC */

body, p, h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: auto; */
}

p, h1, h2, h3, h4, h5 {
    margin: 0 0 10px;
    padding: 0;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    margin: 0 0 10px;
}

svg {
    filter: drop-shadow( 1px 1px 0px rgba(0, 0, 0, .7));
}

/* SITE SECTIONS */

/* Wrapper */
.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    @include screen('mobile') {
        display: block;
        width: 100%;
    }
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* Menu */
.menu {
    position: relative;
    height: 55vh;
    text-align: center;
    box-shadow: 1px 2px 12px 0px #000;
    @include screen('mobile') {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        @include screen('mobile') {
            flex-direction: row;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            width: 40px;
            height: 40px;
            @include screen('mobile') {
                padding: .5rem;
            }
            &:hover, &.active {
                transition: ease-in-out .3s;
                background-color: #fafafa;
                cursor: pointer;
            }
            &.download-cv {
                position: absolute;
                bottom: 0;
                @include screen('mobile') {
                    right: 0;
                }
                a {
                    color: #bababa;
                }
            }
        }
    }
}

/* Person */
.person {
    min-width: 400px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 1px 2px 12px 0px #000;
    position: relative;
    @include screen('mobile') {
        width: 100%;
        min-width: initial;
        min-height: 400px;
        margin-top: 56px;
    }
}
.basic-info {
    text-align: center;
    text-shadow: 1px 2px 2px #333;
}
.social-links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
    li {
        margin: .5rem;
    }
    a {
        font-size: 1.5rem;
        color: #fff;
    }
    svg {
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }
}

/* Info */
.info {
    background-color: #1c1e1f;
    height: 55vh;
    width: 45%;
    max-width: 600px;
    padding: 1rem;
    padding-bottom: 50px;
    box-shadow: 1px 2px 12px 0px #000;
    @include screen('mobile') {
        width: initial;    
        max-width: 100%;
    }
}


/* PAGES */

/* General */
.main-info h3 {
    font-size: 16px;
    color: #fff;
}
.main-info p {
    font-size: 14px;
    color: #fff;
}
section .period {
    font-size: 12px;
}

/* MAIN */

.main-info-title {
    display: flex;
    align-items: center;
    margin: 3rem 0 .5rem 0;
}
.main-info-title h2 {
    font-size: 1.5rem;
    padding: 0 20px;
    margin: 0;
}


/* SKILL-SET */

.skill-set p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.progress-container {
    margin-bottom: .75rem;
    background-color: #fafafa;
    border-radius: 8px;
}
.progress-bar {
    color: #fff;
    height: .25rem;
    padding: 0 16px;
    font-size: 12px;
    border-radius: 8px;
}

/* WORK-SAMPLES */

.work-samples {
    display: flex;
    flex-wrap: wrap;
    article {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        @include screen('mobile-tablet') {
            width: initial;
        }
        &:nth-child(odd) {
            margin-right: .5rem;
        }
        &:nth-child(even) {
            margin-left: .5rem;
        }
    }
    img {
        max-width: 100%
    }
    a, span {
        font-size: 20px;
        word-break: break-all;
        margin: 0;
        color: #f3f3f3;
        font-weight: 700;
        text-decoration: underline;
        display: block;
    }
    p {
        font-size: 14px;
    }
}

/* CONTACT */

.contact-data {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 1rem 0;
}
.contact-data svg {
    margin-right: 20px;
}


/* COLORS */

.App {
    &.blue {
        .menu {
            &.style1 {
                background-color: $blue-dark;
                ul li {
                    &:hover, &.active {
                        color: $blue-dark;
                    }
                }
            }
            &.style2 {
                background-color: #1c1e1f;
                ul li {
                    transition: transform ease-in .1s;
                    &:hover, &.active {
                        background-color: initial;
                        color: $blue-light;
                        transform: scale(1.15);
                    }
                }
            }
        }
        .progress-bar {
            background-color: $blue-light;
        }
        .period {
            color: $blue-light;
        }
        h2, .basic-info h3, .info svg {
            color: $blue-light;
        }
    }
    &.red {
        .menu {
            &.style1 {
                background-color: $red-dark;
                ul li {
                    &:hover, &.active {
                        color: $red-dark;
                    }
                }
            }
            &.style2 {
                background-color: #1c1e1f;
                ul li {
                    transition: transform ease-in .1s;
                    &:hover, &.active {
                        background-color: initial;
                        color: $red-light;
                        transform: scale(1.15);
                    }
                }
            }
        }
        .progress-bar {
            background-color: $red-light;
        }
        .period {
            color: $red-light;
        }
        h2, .basic-info h3, .info svg {
            color: $red-light;
        }
    }
    &.green {
        .menu {
            &.style1 {
                background-color: $green-dark;
                ul li {
                    &:hover, &.active {
                        color: $green-dark;
                    }
                }
            }
            &.style2 {
                background-color: #1c1e1f;
                ul li {
                    transition: transform ease-in .1s;
                    &:hover, &.active {
                        background-color: initial;
                        color: $green-light;
                        transform: scale(1.15);
                    }
                }
            }
        }
        .progress-bar {
            background-color: $green-light;
        }
        .period {
            color: $green-light;
        }
        h2, .basic-info h3, .info svg {
            color: $green-light;
        }
    }
    &.pink {
        .menu {
            &.style1 {
                background-color: $pink-dark;
                ul li {
                    &:hover, &.active {
                        color: $pink-dark;
                    }
                }
            }
            &.style2 {
                background-color: #1c1e1f;
                ul li {
                    transition: transform ease-in .1s;
                    &:hover, &.active {
                        background-color: initial;
                        color: $pink-light;
                        transform: scale(1.15);
                    }
                }
            }
        }
        .progress-bar {
            background-color: $pink-light;
        }
        .period {
            color: $pink-light;
        }
        h2, .basic-info h3, .info svg {
            color: $pink-light;
        }
    }
}


/* OPTIONS PANEL */

.options-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    border: 4px solid #999;
    border-radius: 4px;
    width: 320px;
    @include screen('mobile') {
        width: calc(100% - 8px);
    }
    transition: transform .6s;
    &:not(.active) {
        transform: translate(0, calc(100% - 50px));
    }
    &.active .toggle-menu svg {
        transform: rotate(180deg);
    }
}

.options {
    padding: 1rem;
}

.toggle-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #999;
    padding: 10px;
    cursor: pointer;
    svg.active {
        transform: rotate(180deg);
    }
    h3 {
        margin: 0;
    }
}
.color-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        text-align: center;
        margin: 0;
    }
    div {
        display: flex;
        justify-content: space-evenly;
    }
    .color {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin: 10px;
        cursor: pointer;
        border: 3px solid #f3f3f3;
        &.blue { background-color: $blue-dark }
        &.red { background-color: $red-dark }
        &.green { background-color: $green-dark }
        &.pink { background-color: $pink-dark }
        &.active { border-color: #000 }
    }
}
.menu-position, .menu-style {
    text-align: center;
    margin-bottom: 1rem; 
    &-option {
        background-color: #fff;
        color: #333;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color .15s, color .15s;
        box-shadow: inset 0px 0px 10px #333;
        &:first-of-type {
            border-radius: 22px 0 0 22px;
        }
        &:last-of-type {
            border-radius: 0 22px 22px 0;
        }
        &:hover, &.active {
            background-color: #3d5c7a;
            color: #fff;
        }
    }
}
.section-switches {
    display: flex;
    flex-direction: column;
    text-align: center;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .page {
        font-size: 12px;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
input:checked + .slider {
    background-color: $blue-dark;
}
input:focus + .slider {
    box-shadow: 0 0 1px $blue-dark;
} 
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
} 
.slider.round {
    border-radius: 22px;
    &:before {
        border-radius: 50%;
    }
}